# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log
.vscode/ltex.hiddenFalsePositives.en-US.txt
web1/yarn-error.log

# build files
node_modules
package-lock.json
yarn.lock

