@tailwind base;
@tailwind components;
@tailwind utilities;
  :root {
    --md-primary: #ab47bc;        /*  purple;*/
    --md-secondary: #ff7043;      /* deep orange*/
    --md-surface:    #eeeeee;
    --md-background: #ffffCC;
  }
  .th-red {
    --md-primary: #742a2a; /* dark red */
    --md-secondary: #e53e3e; /* medium red */
  } 
  .th-blue {
    --md-primary: #2a4365; /* dark blue */
    --md-secondary: #3182ce; /* medium blue */
  }
  
  @layer base {

  body {
      background: var(--md-surface);
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300;
    }

  section {
    padding : 10px;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
      @apply text-lg;
  }
  }

  @layer utilities {

    html {
        -webkit-tap-highlight-color: transparent;
      }

    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
      }

    .list-interpunct > li:before {
      content: '・';
      float: left;
      margin: 0 0 0 -0.9em;
      width: 0.9em;
    }
  
    @media (min-width: 992px) {
     .list-interpunct > li:before {
        margin: 0 0 0 -1.5em;
        width: 1.5em;
      }
    }

    /* custom utils 
    @layer utilities {
     
      //   @variants responsive|hover,focus,dark 

      .scroll-snap-none {
        scroll-snap-type: none;
      }
      .scroll-snap-x {
        scroll-snap-type: x;
      }
      .scroll-snap-y {
        scroll-snap-type: y;
      }
    }
    */
  }


 /* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=AB47BC&secondary.color=FF7043&primary.text.color=B2DFDB&secondary.text.color=EEEEEE 
     --md-primary-light: #df78ef;
    --md-primary-dark: #790e8b;   
    --md-secondary-light: #ffa270; 
    --md-secondary-dark: #c63f17; 
   
    --md-error:      #B00020;
    --md-text-on-primary:  #e0f2f1; 
    --md-text-on-secondary:  #eeeeee; 
    --md-text-on-background:  #000000; 
    --md-text-on-surface:  #000000; 
    --md-text-on-error:  #ffffff; 

 */
