@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--md-primary: #ab47bc; /*  purple;*/
	--md-secondary: #ff7043; /* deep orange*/
	--md-surface: #eeeeee;
	--md-background: #ffffcc;
}
.th-red {
	--md-primary: #742a2a; /* dark red */
	--md-secondary: #e53e3e; /* medium red */
}
.th-blue {
	--md-primary: #2a4365; /* dark blue */
	--md-secondary: #3182ce; /* medium blue */
}

@layer base {
	body {
		background: var(--md-surface);
		font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
			'Lucida Grande', sans-serif;
		font-weight: 300;
	}

	section {
		padding: 10px;
	}

	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}

}

